html {
  background-color: #ecf8f9;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ecf8f9;
  margin: 10px;
  /* padding: 0;
  display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
}

  .header {
    background-color: #ecf8f9;
    color:  #3D5656;
    padding: 20px; 
    text-align: center; 
    width: 100%; 
    font-size: 40px;
    text-align: center;
  }
 .dialog-box{
  display: block;
  gap: 4px;
 }
 .button,
button[type="onClick"] {
  background-color: #3D5656;
  border: none;
  color: white;
  margin: 4px 2px;
  font-size: 12px;
}
