.assign-group {
  background-color: #ECF8F9;
}
.header-group {
  color:  #1c7a7a;
  padding: 20px; 
  text-align: center; 
  width: 100%; 
  font-size: 30px;
  text-align: left;
  margin: 50px 50px;
  font-weight: bold;
}

.dialog-box{
  display: block;
  gap: 4px;
 }
 .button,
button[type="onClick"] {
  background-color: #3D5656;
  border: none;
  color: white;
  margin: 4px 2px;
  font-size: 12px;
}
.form-display {
  display: flex;
  align-items: flex-start;/*for row wise.*/
  margin-top: 30px;
  height:100px;
  width:100px;
  margin: 20px;
  font-size: 20px;
}
.form-select{
  margin-bottom: 20px; 
  margin-left  : 2px; 

}
.form-selectheader{
  margin-bottom: 20px; 
  margin-left  : 30px; 
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}
.button-assign{
  background-color: #3D5656;
  border: none;
  color: white;
  margin: 4px 2px;
  font-size: 20px;

}
.form-select-date{
  margin: auto;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  display: inline-block; 
}
.success{
  background-color: #3D5656;
  border: none;
  color: white;
  margin: 4px 2px;
  font-size: 40;
  font-weight: bold;
  position: absolute;
}
.container {
  display: flex;
  
}
.container2 {
  display: flex;
  align-items: center;
}
.column {
  flex: 1; /* Each column takes up equal space */
  margin: 0 10px; /* Add margin between columns */
  padding: 20px;
  border: 3px solid #3D5656;
}
.row {
  display: flex;
}
.submit-btn {
  padding: 10px, 20px;
  border: none;
  background-color: #3D5656;
  color: #fff;
  border-radius: 5px;
}